body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0 auto; /* Центруємо контейнер */
    max-width: 1200px; /* Максимальна ширина контейнера */
    padding: 0 20px; /* Додаємо відступи з боків */
}

.header {
    background-image: url(photo/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-logo img {
    max-width: 100%;
    height: auto;
    max-height: 260px; /* Збільшено висоту логотипу */
}


.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Дозволяє елементам перейти на новий рядок при маленьких екранах */
}

.nav {
    display: flex;
    align-items: center;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #d81d1d;
}

.cart {
    position: relative;
    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}

.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #894b17;
}

#music-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
}

#music-icon {
    width: 100%;
    height: 100%;
}

#audio {
    display: none; /* Сховуємо сам елемент <audio> */
}

#btnka {
    display: none; /* Сховуємо кнопку play */
}
